@color: #ff9999;
@border: solid black 2px;
@padding_text: 0px 15px;

body {
  position: absolute;
  margin: 0;
}

#container {
  display: grid;
}

@media (max-width: 600px) {
  #container {
    grid-template:
      "header"
      "nav"
      "main"
      "leftbar"
      "important"
      "footer";
  }
  nav {
    display: inherit;
    text-align: center;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  img {
    width: 80vw;
    height: auto;
  }
}

@media (min-width: 600px) {
  #container {
    grid-template:
    "header header "
    "nav nav "
    "main main"
    "leftbar important"
    "footer footer";
  }
  #left, #important {
    width: 50vw;
  }
  nav {
    ul {
      display: flex;
    }
  }
}

@media (min-width: 800px) {
  #container {
    grid-template:
    "header header header"
    "nav nav nav"
    "leftbar main important"
    "footer footer footer";
  }
  #left, #important {
    width: 22vw;
  }

}

nav {
  grid-area: nav;
  ul {
    margin: 0;
    list-style: none;
    padding-inline-start: 0;
    background-image: url("bg_nav.png");
    li {
      border-right: @border;
      padding: 5px 10px;
      &:hover {
        background-image: url("bg_nav_h.png");
      }
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
}

header {
  grid-area: header;
  background-color: darken(@color, 10%);
  img {
    display: block;
    margin: 10px auto;
  }
}

#main {
  grid-area: main;
  background-color: lighten(@color, 15%);
}

#left {
  grid-area: leftbar;
  background-color: lighten(@color, 5%);
}

#important {
  grid-area: important;
  background-color: @color;
  list-style-image: url("bullet.png");
  li {
    padding: 7px;
  }
}

footer {
  grid-area: footer;
  background-color: darken(@color, 15%);
  text-align: center;
}

a {
  color: black;
}

h1, h2, h3, p {
  padding: @padding_text;
}